<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l8 m8 s12">
        <h5 class="white-text">About the Project</h5>
        <p class="grey-text justify small-text text-lighten-4" >
          A study conducted by Meat and Livestock Australia (MLA) estimated that
          tick-borne diseases cost the cattle industry approximately $146m in production losses and control costs.
          As ticks developed a quick resistant to vaccines, it is important for researchers to get real time data
          to speed up the research process to understand the distribution in order to study the origin and prevent
          the spread of tick-borne diseases. Possibly, with the help of cattle breeders, we will be able to map out
          the distribution of cattle ticks within Australia and all over the globe.
</p>
      </div>
      <div class="col l1 m1 s12">
      </div>
      <div class="col l3 m3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text small-text" href="https://github.com/paulinaika/CFA-Ticked!">Github</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="row center small-text">
    Logo by <a class="white-text" href="http://www.flaticon.com/authors/freepik">Freepik</a> from <a class="white-text" href="http://www.flaticon.com/">Flaticon</a> is licensed under <a class="white-text" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a class="white-text" href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
    </div>
  </div>
</footer>
