/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'materialize';
 html {
   height: 100%;
 }

   body {
     display: flex;
     min-height: 100%;
     flex-direction: column;
   }

   .container {
     flex: 1 0 auto;
   }

 nav ul a,
 nav {
   color: #444;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
}

p,
li,
a {
  font-family: 'Roboto', sans-serif;
}

.big-header{
  font-weight: 700;
}

.small-text{
  font-size: 0.9em;
}

.justify{
  text-align: justify;
}

.rounded-corner{
  border-radius: 1em;
}

.top-margin{
  margin-top: 2em;
}


.nav-wrapper .brand-logo img {
  height: 64px;
}

.chat-box{
background-color: #fafafa;
width: 100%;
border: 0.5em solid #b2dfdb;
padding: 4em;
}

.messenger-box{
background-color: #f5f5f5;
padding-left: 2em;
padding-right: 2em;
padding-top: 0.1em;
padding-bottom: 0.1em;
margin: 0.5em;
}

.bold{
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize !important;
}

.block-display {
  margin: 0;
    display: inline-block;
}

.flotation-right{
  float: right;
}

.divider {
  margin-bottom-color: 0.1em black;
}

.side-nav a{
  font-size: 1.5em;
}

.dropdown-content{
    overflow: visible !important;
}

.map {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    left:0;
    right:0;
}


.thumbnail{
  height: 2px;
  width: 2px;
}

h3 {
font-family: 'Open Sans', sans-serif;
color: #394261;
}

.timestamp{
  font-size: 0.6em;
}


#about {
  /* The image used */
  background-image: url(https://image.ibb.co/fsTurQ/cattle.jpg);
  background-position: 50%;

}

.button-collapse {
  color: #26a69a;
}


.parallax-container {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (min-width : 992px) {
  .brand-logo img {
    margin-left: 0.5em;
    padding:0.2em;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .brand-logo img {
    margin: 0;
    padding:0.2em;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .brand-logo img {
    margin: 0;
    padding-bottom:0.4em;
  }
}


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}


footer.page-footer {
  margin: 0;
}
